*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
}
header {
    background-color: #4ca14c;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    font-size: 1rem;
    color: white;
    flex: 1 1 100vw;
    
}

.nav-bar{
        background-color: #005F6B;
        display: flex;
        align-content: space-around;
        max-height: 70px;
        box-sizing: border-box;
        align-items: center;
        flex: 1 1 100vw;
}
.logo{
    width: 120px;
    text-align: center;
    display: flex;
    justify-content: center;

}
.imagem-logo {
    width: 100%; 
    height: auto; 
}
.nav-list{
    display: flex;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;
    display: flex;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    display: flex; 
}
.nav-img{
    width: 10px;
    display: flex;
}

.search-bar{
    display: flex;
    align-items: center;
    width: 480px;
    font-size: 5px;
}
.bar{
    height: 2rem;
    border-radius: 10px;
    border: none;
    display: flex;
    margin: 0;
    padding-left: 10px;
}

.titulo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10px;   
}
#tex{
    font-weight: bold;
    font-size: 0.8rem;
}
aside{
    display: flex;
    flex: 1 1 200px;
    background-color: #005F6B;
    color: #ffffff;
    flex-direction: column;
}
.but{
    width: 300px;
    height: 60px;
    background-color: #005F6B;
    border: none;
    cursor: pointer;
    border: #A0DED6 solid 1px;
}
.but:hover{
    width: 300px;
    height: 60px;
    background-color: #A0DED6;
    cursor: pointer;
    border: #A0DED6 solid 1px;
}
.but2{
    width: 300px;
    height: 60px;
    background-color: #005F6B;
    cursor: pointer;
    border: #A0DED6 solid 1px;
}
.but3{
    width: 300px;
    height: 60px;
    background-color: #005F6B;
    cursor: pointer;
    border: #A0DED6 solid 1px;
}
.active {
    background-color: #A0DED6;
    border: none;
    cursor: pointer;
    border: #A0DED6 solid 1px;
}

main{
    display: flex;
    flex: 20 1 500px;
    height: 1430px;
    background-color: #A0DED6;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 100px;
    justify-content: flex-start;
    align-items: start;
    gap: 50px;
    
}



.rodape {
    display: flex;
    flex: 1 1 100vw;
    flex-direction: column; 
    background-color: #005F6B;
    padding: 20px;
    align-items: center;
    gap: 10px; 
    height: 200px;
}

.conteudo-superior {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    width: 100%; 
    max-width: 800px;
}

.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px; 
}

.menu {
    display: flex;
    flex-direction: column; 
    text-align: left; 
    gap: 5px; 
    color: #ffffff;
}
.conteudo-inferior{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.direitos{
    color: #ffffff;
    font-size: 12px;
}

.linha {
    width: 700px; 
    height: 2px; 
    background-color: #ffffff;

}

form {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    gap: 30px;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;  
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: left;
}

input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;  
}

button {
    padding: 10px 30px;
    background-color: #005F6B;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: #A0DED6;
}

.double {
    display: flex;
    gap: 150px;
    ;
}

.double > label {
    display: block;
    margin-bottom: 5px; 
    font-size: 1rem;
}

.double > input {
    flex: 1;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.foto-label {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    object-fit: cover;
    text-align: center;
    line-height: 150px; 
    border: 2px dashed #ccc;
    border-radius: 20%; 
    cursor: pointer;
    font-size: 16px;
    background-size: cover;  
    background-repeat: no-repeat; 
}

.foto-label:hover {
    background-color: #e0e0e0;
    border-color: #aaa;
}

.foto-label input {
    display: none;
}

.small-main {
    height: 600px; 
    background-color: #A0DED6; 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quadrado-gigante {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    color: #000;
}

.top-bar,
.bottom-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    padding: 5px 10px; 
    border-bottom: 1px solid #ccc; 
    background-color: #eaeaea; 
    color: #333; 
}
.right{
    display: flex;
    gap: 50px;
}

.content {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
}
.middle-content{
    width: 100%;
    height: 60px;
}