*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: white; 
    width: auto;

}



.contraste{
    margin-left: 10px;
}
.top{
    display: flex;
    background-color: #4ca14c ;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    font-size: 1.0em ;
    color: #ffffff;
}

.top-bar{
    margin: auto; 
  justify-content: center;
}
.top-options{
    display: flex;
  text-align: center;
  margin-right: 10px;
}
.nav-bar{
    background-color: #005F6B;
    display: flex;
    align-content: space-around;
    max-height: 90px;
    box-sizing: border-box;
    align-items: center;
}
.logo{
    width: 120px;
    text-align: center;
    display: flex;
    justify-content: center;

}
.imagem-logo {
    width: 100%; 
    height: auto; 
    object-fit: contain;
}
.nav-list{
    display: flex;
    align-items: center;

}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;
    display: flex;
}
.nav-link{
    text-decoration: none;
    font-size: 0.8rem;
    color: #ffffff;
    display: flex; 
}

.search-bar{
    display: flex;
    align-items: center;

}
.bar{
    width: 29rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    display: flex;
    margin: 0;
}
.titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;   
}
#tex{
    font-weight: bold;
    font-size: 0.8rem;
}

.butao{
    height: 1.5rem;
    width: 6.5rem;
    color: #ffffff;
    background-color: #005F6B;
    border: none;
    border-radius: 10px;
}
.eventos{
    text-align: center;
    font-weight: bold;
}
.container{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-top: 20px;

}
.item-1{
    width: 200px;
    background-color: #1CD4E4;
    height: 230px;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
  
}
.item-2{
    width: 200px;
    background-color: #005F6B;
    height: 230px;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    padding-top: 10px;
    


}
.item-3{
    width: 200px;
    background-color: #45B5C4;
    height: 230px;
    border-radius: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;

}
.item-4{
    width: 200px;
    background-color: #A0DED6;
    height: 230px;
    border-radius: 20px;
    border: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;

}
.butitem{
    width: 40px;
    margin-top: 130px;
    margin-left: 110px;
    border-radius: 10px; 
    background-color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.butitem2{
    width: 40px;
    margin-top: 130px;
    margin-left: 110px;
    border-radius: 10px; 
    background-color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.butitem3{
    width: 40px;
    margin-top: 130px;
    margin-left: 110px;
    border-radius: 10px; 
    background-color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.butitem4{
    width: 40px;
    margin-top: 130px;
    margin-left: 110px;
    border-radius: 10px; 
    background-color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.butao-2{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.butao2{
    width: 15rem;
    height: 2.4rem;
    font-size: 1rem;
    background-color: #1740af;
    border-radius: 20px;
}

.rodape {
    display: flex;
    flex: 1 1 100vw;
    background-color: #005F6B;
    height: 150px;
    justify-content: space-evenly;
}
.logo2{
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid purple;
}
.menu{
    border: 2px solid brown;
    height: 100px;
}
.linha{
    border: 2px solid green;
}

